.popup__save {
  width: 100%;
  max-width: 358px;
  background-color: #000;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 14px 82px 14px 82px;
  transition: opacity 0.2s;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .popup__save {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__save {
    width: 100%;
    margin: 0 auto;
  }
}
